
<nav class="navbar navbar-expand bg-primary" data-bs-theme="dark">
  <a class="navbar-brand" href="#">Proyecto Angular</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/inicio">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contacto">Contacto</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" routerLink="/angular">Angular</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/git">Git</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/terminales">Terminales</a>
    </li>
  </ul>
</nav>

  

<router-outlet></router-outlet>
